@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes sway {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

.animate-sway {
  animation: sway 1.2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  transform-origin: bottom center;
}